main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 40px auto;
  max-width: 90%;
}

section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
}

h3 {
  text-align: start;
  font-weight: 500;
  font-size: 1.25rem;
}

.emphasys {
  display: flex;
  justify-content: center;
}
.emphasys-img-container {
  flex: 3;
}
.emphasys-img {
  width: 100%;
}
.empasys-description-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
}

footer {
  position: initial;
}
