.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  max-width: 270px;

  border: 1px solid var(--secondaryColor);
  border-radius: 8px;
}
.card-img-container {
  max-width: 100%;
}
.card-img {
  width: 100%;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--textWhite);
}
.card-btn-add-cart {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: var(--secondaryColor);
  color: var(--textWhite);
  cursor: pointer;
  font-weight: 700;
  transition: all ease-in 0.3s;
}

.card-btn-add-cart:hover {
  transform: scale(1.1);
}
