footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  border-top: 1px solid gray;
  left: 0;
  height: 150px;
  font-family: "roboto", sans-serif;
}
.address-container {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address-container:first-child {
  border-right: 2px solid gray;
}

address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
address:first-child {
  margin-right: 100px;
}
address:last-child {
  margin-left: 100px;
}

address > span {
  font-weight: 700;
}

address > span > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media (max-width: 800px) {
  footer {
    flex-direction: column;
    height: initial;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .address-container:first-child {
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .address-container:last-child {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
