main {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  position: relative;
}

@media (max-width: 600px) {
  footer {
    position: initial;
  }
}
